<% content_for :pre_container do %> 
<hr class="space" />
<div class="span-12">
	<h2 class="z_textShadow">Creatief Schrijven is hét aanspreekpunt voor iedereen die schrijven niet laten kan</h2>
	<%= link_to 'Schrijf je in op onze nieuwsbrief »', '#' %>
	<br/><br/>
	<div class="span-10 last">
		
		<%= image_tag 'alledagendichten.png', :size  => '250x250' %>
	</div>
</div>
<div class="span-12 last">
  <h2><%= link_to "Dichten in de Prinsentuin" %></h2>
	<p>
		Van 25 tot en met 27 juli vindt de 15de editie van Poëziefestival Dichters in de Prinsentuin plaats in Groningen. Wil je je eigen gedichten voordragen voor een groot en geïnteresseerd publiek, dan is dit je kans. Schrijf je voor 1 maart in, en wie weet sta jij op 26 of 27 juli in de loofgangen van de Prinsentuin. Het festival geeft jaarlijks een podium aan 80 bekende en minder bekende dichters. Ben je er nog niet geweest, dan geeft dit filmpje je een idee van wat je mag verwachten. <%= link_to 'Lees meer', '#' %>
	</p>
  <h2><%= link_to "Gratis workshop poëzie on stage" %></h2>
	<p>
			Is je poëzie klaar voor de stap naar een levensecht publiek? Stijn Vranken en Koen de Smet helpen je om in groep een boeiende voorstelling te maken. Die brengen jullie tijdens de opening van de tentoonstelling Divers Pluimage op zaterdag 28 april (Oude Beurs, Hofstraat 15, 2000 Antwerpen) De tentoonstelling kadert heeft plaats binnen het Liefhebber Amateurkunstenfestival 2012. <%= link_to 'Lees meer', '#' %>
	</p>
  	<%= link_to 'Meer nieuwsberichten', '#' %>	
</div>


<% end %>

<div class="span-24 append-bottom">
	<div class="span-7 append-1">
		<h3><strong>Schrijfcursussen</strong></h3>
		<p class="quiet">
			<%= link_to 'Op zoek naar een cursus? »', '#', :class => "cs_button" %>
			<ul>
				<li><%= link_to 'Zakelijk Schrijven', '#' %></li>
				<li><%= link_to 'Schrijven voor het web', '#' %></li>
				<li><%= link_to 'Poëzie voor beginners', '#' %></li>
			</ul>
		</p>	
	</div>
	<div class="span-7 append-1">
		<h3><strong>Schrijfwedstrijden</strong></h3>
		<p class="quiet">
			<%= link_to 'Op zoek naar een wedstrijd? »', '#', :class => "cs_button" %>
			<ul>
				<li><%= link_to 'Haikuwedstrijd', '#' %></li>
				<li><%= link_to 'Kunstbende TXT', '#' %></li>
				<li><%= link_to 'Prijzen van de provincie Oost-Vlaanderen voor Letterkunde', '#' %></li>
			</ul>
		</p>
		</p>	
	</div>
	<div class="span-8 last">
		<h3><strong>Informatie</strong></h3>
		<p class="quiet">
			Hier vind je snelle links naar informatie over:<br/>
			<ul>
				<li><%= link_to 'Manuscriptbeoordeling', '#' %></li>
				<li><%= link_to 'Print On Demand uitgevers', '#' %></li>
				<li><%= link_to 'Schrijfdocentenopleiding', '#' %></li>
			</ul>
		</p>	
	</div>
</div>	