<div class="footer">
  <div class="container">

    <div class="span-24 prepend-top append-botttom">
      <div class="span-7 append-1">
        <h4>Over Creatief Schrijven</h4>
        <p class="quiet">
		  <%= link_to 'Missie', '#' %>
          <br/>
          <%= link_to 'Wie is Wie', '#' %>
          <br/>
          <%= link_to 'Vacatures', '#' %>
          <br/>
          <%= link_to 'Bankgegevens', '#' %>
		  <br/>
		  <%= link_to 'Vrijwilligers', '#' %>
        </p>
      </div>
      <div class="span-7 append-1">
        <h4>VERZ!N</h4>
        <p class="quiet">
          <%= link_to 'Bestel', '#' %>
          <br/>
		  <%= link_to 'Schrijfuitdaging', '#' %>
          <br/>
          <%= link_to 'Vorige nummers', '#' %>
          <br/>
          <%= link_to 'Contacteer de redactie', '#' %>
        </p>
      </div>
      <div class="span-8 last">
        <h4>Contact</h4>
        <p class="quiet">
          E: info@creatiefschrijven.be
          <br/>
          T: +32 03 229 09 90
		  <br/>
		  Waalsekaai 15 - 2000 Antwerpen
        </p>
		<h4>Downloads</h4>
		<p class="quiet">
			<%= link_to 'Schrijf- en wedstrijdbrochure', '#' %>
			<br/>
			<%= link_to 'Tekstbrochures', '#' %>
			<br/>
			<%= link_to 'Logo', '#' %>
			<br/>
		</p>
      </div>
    </div>
  </div>
</div>
