<div class='menu'>
  <ul>
	<li><%= link_to 'Nieuws', '#' %></li>
	<li><%= link_to 'Cursussen', '#' %></li>
	<li><%= link_to 'Wedstrijden', '#' %></li>
	<li><%= link_to 'Projecten', '#' %></li>
	<li><%= link_to 'Schrijfadvies', '#' %></li>
	<li><%= link_to 'Kennisbank', '#' %></li>
	<li><%= link_to 'Contact', '#' %></li>
  </ul>
</div>
	