<div class='menu'>
  <ul>
	<li><%= link_to 'Nieuws', '#' %></li>
	<li><%= link_to 'Cursussen', '#' %></li>
	<li><%= link_to 'Wedstrijden', '#' %></li>
	<li><%= link_to 'Projecten', '#' %></li>
	<li><%= link_to 'Schrijfadvies', '#' %>
		<ul>
			<li><%= link_to 'manuscriptbeoordeling', '#' %></li>
			<li><%= link_to 'contacteer onze schrijfconsulent', '#' %></li>
		</ul>
	</li>
	<li><%= link_to 'Kennisbank', '#' %>
		<ul>
			<li><%= link_to 'literaire tijdschriften', '#' %></li>
			<li><%= link_to 'literaire podia', '#' %></li>
			<li><%= link_to 'literaire websites', '#' %></li>
			<li><%= link_to 'schrijfgroepen', '#' %></li>
			<li><%= link_to 'documentatiecentrum', '#' %></li>
			<li><%= link_to 'handboeken', '#' %></li>
			<li><%= link_to 'overzicht uitgevers', '#' %></li>
			<li><%= link_to 'overzicht POD uitgevers', '#' %></li>
		</ul>
	</li>
	<li><%= link_to 'Contact', '#' %></li>
  </ul>
</div>
	